* {
    box-sizing: border-box;
    overflow-anchor: none;
}

body {
    background-color: aquamarine;
    display: flex;
    height: 100svh;
    font-family: "Roboto",sans-serif;
    justify-content: center;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

p {
    line-height: 1.4;
}

a {
    font-weight: bold;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    margin-bottom: 1rem;
}

header h1 {
    margin-bottom: 0;
}

.subheader {
    font-style: italic;
    font-family: cursive;
    font-size: 18px;
    color: deeppink;
}

code {
    font-size: 1.2em;
}

section h2 {
    margin-bottom: 1rem;
}

section p {
    margin: 0;
    padding: .5rem;
}

section p:nth-of-type(2n + 1) {
    background-color: #cdf0ff;
}

h1 {
    font-family: "Comic Sans MS","Roboto",sans-serif;
    font-size: 3rem;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

main {
    display: flex;
    flex-grow: 1;
    margin: 1rem;
    max-height: calc(100svh - 2rem);
    max-width: 1600px;
    position: relative;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2rem;
    position: relative;
}
@media screen and (min-width: 768px) {
    .main-content {
        margin: 3rem;
    }
}

#scroll-container {
    overflow-x: hidden;
    overflow-y: scroll;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
}

.columns {
    column-gap: 1rem;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.columns .column {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    gap: 2rem;
}

@media screen and (min-width: 1200px) {
    .columns .column {
        flex: 1 0 calc(50% - 1rem);
    }
}

.bg1,
.bg2 {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

@keyframes bg1 {
    from {
        background-size: 200% 400%;
    }
    to {
        background-size: 200% 100%;
    }
}
.bg1 {
    animation-delay: 3s;
    animation-direction: alternate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: bg1;
    animation-timing-function: ease-in-out;
    background: repeating-radial-gradient(ellipse at 80% 80%,
            purple,
            rgb(0 255 255 / 10%) 45px,
            rgb(255 0 255 / 50%) 60px) top left no-repeat;
}

@keyframes bg2 {
    from {
        background-size: 100% 100%;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        background-size: 200% 400%;
        opacity: 0;
    }
}
.bg2 {
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: bg2;
    animation-timing-function: ease-in-out;
    background: repeating-radial-gradient(ellipse at 20% 20%,
            darkgreen,
            rgb(255 255 0 / 10%) 30px,
            rgb(0 255 255 / 100%) 70px) top left no-repeat yellow;
}

#title {
    display: inline-block;
}

#title span {
    transition-duration: 100ms;
    transition-property: color;
    transition-timing-function: linear;
}

#title span.white {
    color: white;
}

@keyframes main-border {
    from {
        border-color: #00f;
        border-radius: 6rem 2rem 0 2rem;
        border-top-width: 1px;
        border-bottom-width: 2rem;
    }
    25% {
        border-color: #0ff;
        border-radius: 2rem 6rem 2rem 0;
        border-right-width: 1px;
        border-left-width: 2rem;
    }
    50% {
        border-color: #f0f;
        border-radius: 0 2rem 6rem 2rem;
        border-top-width: 2rem;
        border-bottom-width: 1px;
    }
    75% {
        border-color: #ff0;
        border-radius: 2rem 0 2rem 6rem;
        border-right-width: 2rem;
        border-left-width: 1px;
    }
    to {
        border-color: #f00;
        border-radius: 6rem 2rem 0 2rem;
        border-bottom-width: 2rem;
    }
}
.main-border {
    animation-direction: normal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: main-border;
    animation-timing-function: linear;
    background-color: white;
    border-style: dotted;
    height: 100%;
    position: absolute;
    width: 100%;
}

@keyframes wiggle {
    from {
        rotate: .3deg;
        translate: 0 0;
    }
    25% {
        rotate: 0deg;
        translate: 3px 0;
    }
    50% {
        rotate: .3deg;
        translate: 3px 3px;
    }
    75% {
        rotate: 0deg;
        translate: 0 3px;
    }
    to {
        rotate: .3deg;
        translate: 0 0;
    }
}
.wiggle {
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: wiggle;
    animation-timing-function: linear;
    display: inline-block;
    position: relative;
}

@keyframes shoot {
    from {
        color: black;
        left: 0;
        rotate: 0deg;
    }
    99% {
        color: red;
        left: 0;
        rotate: 0deg;
    }
    to {
        color: black;
        left: 120%;
        rotate: 45deg;
    }
}
.shoot {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: shoot;
    animation-timing-function: linear;
    display: inline-block;
    position: relative;
}

img.email {
    height: 1rem;
}

@keyframes cookie-consent-container {
    0% {
        padding-top: 0;
    }
    100% {
        padding-top: 0;
    }
}
#cookie-consent-container {
    align-items: center;
    animation-direction: alternate;
    animation-duration: 19s;
    animation-iteration-count: infinite;
    animation-name: cookie-consent-container;
    animation-timing-function: linear;
    background-color: #0005;
    display: none;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

@keyframes cookie-consent-container-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#cookie-consent-container.hide {
    animation-direction: normal, alternate;
    animation-duration: 2s, 19s;
    animation-iteration-count: 1, infinite;
    animation-name: cookie-consent-container-hide, cookie-consent-container;
    animation-timing-function: ease-in, linear;
}

#cookie-consent-container.hide,
#cookie-consent-container.shown {
    display: flex;
}

@keyframes cookie-consent {
    from {
        left: -5%;
    }
    to {
        left: 5%;
    }
}
.cookie-consent {
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: cookie-consent;
    animation-timing-function: linear;
    background-color: deeppink;
    box-shadow: 0 10px 60px;
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 1rem;
    justify-content: space-around;
    padding: 4rem 2rem;
    position: relative;
    width: 90%;
}

@keyframes cookie-consent-hide {
    from {
        scale: 1;
    }
    to {
        scale: 400;
    }
}
#cookie-consent-container.hide .cookie-consent {
    animation-direction: normal, alternate;
    animation-duration: 4s, 10s;
    animation-iteration-count: 1, infinite;
    animation-name: cookie-consent-hide, cookie-consent;
    animation-timing-function: ease-in, linear;
}

@media screen and (min-width: 1400px) {
    .cookie-consent {
        align-items: center;
        flex-direction: row;
    }
}

.cookie-consent-buttons {
    display: flex;
    gap: .5rem;
}

.cookie-consent-buttons button {
    font-size: large;
    padding: 1rem;
}

#cookie-consent-yes {
    background-color: red;
    border-color: red;
    border-radius: 0 100% 50% 100%;
}

#cookie-consent-no {
    background-color: green;
    border-color: green;
    border-radius: 100%;
}

#cookie-consent-maybe {
    background-color: yellow;
    border-color: yellow;
    border-radius: 50% 100% 0 100%;
}
